#hero {
    position: relative;
    top: -76px;
    margin-bottom: -76px;
    width: 100%;
    background: linear-gradient(90deg, #FF512F 0%, #DD2476 100%);
    z-index: 0;
}

#hero-pattern {
    position: absolute;
    top: 75px;
    width: 100%;
    height: calc(100% - 75px);
    opacity: 0.25;
    z-index: -1;
    overflow: hidden;
}

#hero-pattern-inner {
    min-width: 100%;
    min-height: 100%;
}

#hero-icon-sm {
    height: 40vw;
    max-width: 100%;
}

#hero-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 35vw;
    max-height: 55%;
}

#hero-content {
    position: relative;
    top: 75px;
    height: 75vh;
    min-height: 400px;
}

#hero-wave {
    width: 100%;
    height: 10vh;
    margin-bottom: -1px;
}

@media (min-width: 576px) {
    #hero-content {
        height: 65vh;
    }

    #hero-wave {
        height: 20vh;
    }
}

.hero-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
}

@media (min-width: 576px) {
    .hero-column {
        height: 100%;
    }
}

.feature-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feature-image {
    width: 35%;
}

#hero-2 {
    width: 100%;
    background: linear-gradient(90deg, #FF512F 0%, #DD2476 100%);
}

#hero-2-wave {
    width: 100%;
    height: 10vh;
}

@media (min-width: 576px) {
    #hero-2-wave {
        height: 20vh;
    }
}